#root {
  margin-top: 10%;
  text-align: center;
  width: 100%;
}

body {
  background-image: url(src/images/MovieBG.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  width: 100%;
}

html {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(0,0,0,0.50) 100%);
}